.footer {
    background: linear-gradient(90deg, #000 0%, #353535 51.5%, #000 100%);
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
}

.footer p {
    margin: 0;
}

.footer-links {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-links button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

.footer-links button:hover {
    color: #ffcc00;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer {
        font-size: 0.6rem;
        padding: 1rem;
    }

    .footer-links button {
        font-size: 0.6em;
    }
}
