main h1 {
  text-align: center;
  
}

#create-button-container {
  display: flex;
  justify-content: right;
  margin-right: 1rem;
}

#cards-container {
    margin: 0 auto; /* Centraliza horizontalmente o container */
    padding: 0.5rem 1rem; /* Adiciona um espaçamento interno */
    margin-top: 1.5rem;
    display: grid; /* Utiliza grid layout */
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Responsividade e alinhamento */
    gap: 1em; /* Espaçamento entre os cards */
    max-width: 1300px; /* Define um limite de largura para o container */
}

.loader {
    border: 8px solid #bebebe;
    border-radius: 50%;
    border-top: 8px solid #7F7F7F;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  .login-message {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
  }

  .login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    text-align: center;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Responsividade */
  @media screen and (max-width: 768px) {
    #cards-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media screen and (max-width: 480px) {
    #cards-container {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  }